[2016-12-22 15:29] leachimetrok opened #1 "Slider not full page"
Hi Josh,
thx for this plugin!
Is there a possibility to have Sliders as Element in a Page?

I would like to implement 3 Elements with sliding Content in one page.

Thx and best regards
Michael

[2016-12-28 09:21] irman opened #2 "Unable to swipe once tap is added to the element inside slide."
Hi,

Nice plugin btw. I'm just having a problem assigning tap even on the slider.

Here's the code:

[code]

As you can see, there's `(tap)="getData()"` on the `Image` inside the `slide`. This will break the slider swipe. How can I prevent this? I've tried moving the `(tap)` attribute to the `slide` element but that won't trigger any tap event. Any input is appreciated. Thanks!

Tested on an Andro

[2017-01-04 09:17] heese opened #3 "Late creation of slides, e.g., after receiving the response of a HTTP request"
This issue continues the discussion started at https://github.com/TheOriginalJosh/nativescript-slides/issues/37#issuecomment-266632873

@TheOriginalJosh I pulled the current version of nativescript-ng2-slides and played around with it. I have probably found a way to solve the use case 'late creation of slides'.

What I did:
- I created a method `manualInit()` in `SlidesComponent` and moved the cod

[2017-01-06 15:31] ChristelleThiry commented on #2
Hello,

I have the same issue, did you find the solution ?

Thanks !

[2017-01-06 17:35] NgSculptor opened #4 "Apple App Store Rejected"
Hello,

Thanks for the awesome component :) but the app is getting rejected by the apple app store when I am trying to upload the archive.

Here are some screenshots, any quick suggestions is appreciated.

Using XCode 8.2.1

<img width="1123" alt="screen shot 2017-01-06 at 11 33 34 am" src="https://cloud.githubusercontent.com/assets/10065828/21726873/383727c6-d404-11e6-99c8-42376f9befce.png">

[2017-01-06 19:45] NgSculptor commented on #4
I copied over `slides.component.ts, `slide.component.ts` and declared it in my MainModule for now, but it would be awesome if you can fix this.

[2017-01-09 07:05] irman commented on #2
@ChristelleThiry Not yet, I just disable the swiping as the tap action is the priority. I've added some timeout that just auto rotates the banner.

[2017-01-10 12:40] zoeitsolutions opened #5 "pageIndicators not showing"
Thanks for the plugin, I can't get the pageIndicators to show.

I followed the readme:

Indicators

If the property pageIndicators is true you won't see the page indicators anymore as of 2.0.0 right away. there are two css classes exposed that you can setup however you like for active and inactive indicators. below is an example for semi translucent dots.

[code]

I simply copied and pasted those

[2017-01-11 09:33] YvesCandel commented on #5
I'm having the same problem. Can't get them to show in any way.

[2017-01-12 05:58] heese commented on #4
+1

[2017-01-18 02:10] HTrustProject commented on #2
I don't have time to make the changes to the library. However, I describe how I got the tap event working. I change the file SlidesComponent as follows:

1. Under the last line starting with `@Input ...` add the following line:
`@Output('tap') tap = new EventEmitter<gestures.GestureEventData>();`
1. In the method applySwipe add before `this.currentSlide.slide.layout.on('pan', ...` add the line:
`t

[2017-01-18 02:12] heese commented on #2
@irman, @ChristelleThiry, @TheOriginalJosh

I don't have time to make the changes to the library -- I hope someone else has :-)

I change the file SlidesComponent as follows:

1. Under the last line starting with `@Input ...` add the following line:
`@Output('tap') tap = new EventEmitter<gestures.GestureEventData>();`
1. In the method applySwipe add before `this.currentSlide.slide.layout.on('pan',

[2017-01-18 12:01] TheOriginalJosh commented on #2
Sorry, guy's I've been swamped with some other things. If someone else could Add this I would gladly accept a PR. if not I'll try to add it sometime this week.

Thanks.

[2017-01-20 04:53] musso commented on #1
Hey  @leachimetrok ,

Not sure if it is too late.

You could add  `pageHeight="200"` to define the height

e.g.

`<slides pageHeight="200">
            <slide class="slide-1">
                <Label text="1"></Label>
            </slide>
            <slide class="slide-2">
                <Label text="2"></Label>
            </slide>
</slides>`

Regards,

Hugo

[2017-01-21 00:38] smarza commented on #5
Me too.

[2017-01-21 10:36] zoeitsolutions commented on #5
@TheOriginalJosh please let me know if you are able to fix this or advise what the problem might be.

[2017-01-23 21:37] smarza commented on #5
If I set <slides [pageIndicators]="true">, i get the following error:

`JS: clipToBounds with value false is not supported on Android. You can use this.android.getParent().setClipChildren(false) as an alternative.`

Does anyone have any idea how to fixed this issue ?

Thanks in advance.

[2017-01-24 12:02] TheOriginalJosh commented on #5
@smarza I'll fix this tonight.

[2017-01-24 12:06] smarza commented on #5
@TheOriginalJosh Thanks.
If there is anything I can help or contribute, please let me know.

[2017-02-01 06:51] zoeitsolutions commented on #5
@TheOriginalJosh was this fixed?

[2017-02-02 06:59] irman opened #8 "Other <Image/ > Get Mixed Up on Android on Plugin Initialization when there's <Image/> inside the slide."
I've found a bug that turns out to be coming from this plugin. Here's the details on nativescript forum: http://forum.nativescript.org/t/image-get-mixed-up-on-android/

[2017-02-16 15:52] pette9 commented on #5
I am experiencing this problem on version 0.0.9.

[2017-03-01 13:46] smarza opened #10 "The first slide stops in the middle of the screen on Android devices."
Hi, @TheOriginalJosh ,

Do you have any ideas why the first slide always stops in the middle of the moviment if the user quick swipe. I tryied in different projects and also in the demo project provided here, and I got the same bug everytime.

I realize that "long pressed" Pan, also "long pressed" swipe both works fine. The problem happens only with short touch interactions.

See bellow a video re

[2017-03-07 10:08] codeback opened #11 "Not working with AOT compilation"
I have a problem with AOT compilation of this module:

@TheOriginalJosh, can you check it out? Any help would be appreciated. Thanks.

[2017-03-09 17:46] smarza commented on #11
I got the same error using AOT runing with webpack compilation.

  "dependencies": {
    "@angular/common": "~2.4.9",
    "@angular/compiler": "~2.4.9",
    "@angular/core": "~2.4.9",
    "@angular/forms": "~2.4.9",
    "@angular/http": "~2.4.9",
    "@angular/platform-browser": "~2.4.9",
    "@angular/platform-browser-dynamic": "~2.4.9",
    "@angular/router": "~3.4.9",
    "nativescript-angular"

[2017-03-11 15:44] greenstevester opened #12 "Compile error since merge conflict marker left from last PR"
In slides.component.ts, line 127....

<<<<<<< HEAD
			footerSection.clipToBounds = false;
=======
		    footerSection.clipToBounds = false;
		} else if (app.android) {
			footerSection.android.getParent().setClipChildren(false);

		}

[2017-03-21 06:52] gauravbabu74 opened #13 "How can use next button with this plugin, please elavorate"
Hi,

I  am working native script with angular project. I am not able to use next button with this plugin please guide me.

[2017-03-21 06:53] gauravbabu74 commented on #5
I'm having the same problem. Can't get them to show in any way.

[2017-03-30 16:35] kylejensen commented on #5
@TheOriginalJosh any updates on this?

[2017-04-15 14:20] diegomelo182 commented on #4
+1

[2017-04-21 10:13] SumanSingh4 opened #14 "Is there any way to set pageindicator at top?"
I want to sent pageIndicators at top of slider, but can't getting.

Anyone have any idea?

[2017-04-28 18:37] developper89 opened #15 "dynamic slides not working"
hello, i am trying to use this plugin inside *ngFor
`<slides pageIndicators="false" loop="false">
				<slide *ngFor="let item of items; let i = index">
					<GridLayout><Label [text]="i"></Label>
				</slide>
			</slides>`
the plugin crashes and i am unable to slide between the slides

[2017-04-29 10:25] sarpt commented on #15
That's because the slides are created before the ngFor populates the dom. The slides aren't recreated after that though. I did somewhat hacky fix for that: slides are created first, then further recreation of slides is being done after 'changes' observable fires on ContentChildren. It's not ideal - changes to iterable ngFor is using will be reflected in the slides, but the slides may not be in cor

[2017-05-05 12:58] gauravbabu74 opened #17 "Not support with Nativescript 3.0.0"
Please check it with nativescript 3.0.0 It is not supporting with this version and throwing multiples errors.

Thanks

[2017-05-09 16:00] Eclektic opened #18 "Merge conflict marker in slides.component.ts (npm)"
Hi,

You have some merge conflict marker in slides.component.ts (NPM). See following error when building with your plugin :

`node_modules/nativescript-ng2-slides/slides/app/slides/slides.component.ts(127,1): error TS1185: Merge conflict marker encountered.

node_modules/nativescript-ng2-slides/slides/app/slides/slides.component.ts(129,1): error TS1185: Merge conflict marker encountered.

node_mod

[2017-05-09 16:51] TheOriginalJosh commented on #18
Sorry about that, I'll get that fixed here. asap

[2017-05-09 17:01] TheOriginalJosh commented on #18
should be good to go in 0.1.1

[2017-05-09 17:01] #18 closed

[2017-05-11 01:40] TheOriginalJosh commented on #17
Thanks for the heads up! I just published version 0.1.2 wich should work with 3.0 for you. please let me know if it doesn't.

[2017-05-11 01:40] #17 closed

[2017-05-12 16:28] ozexpert opened #19 "Any possibilities to add vertical slides?"
it would be awesome to support vertical slides (like feedly).

[2017-05-12 17:11] TheOriginalJosh commented on #19
I think it could be done, the same Idea just working off the Y axis instead of X.

[2017-05-13 18:03] ozexpert opened #20 "slides are not responsive when orientation changes"
with `slides`
changing from landscape <-> portrait mode
layout seems not responsive.

[code]

[2017-05-13 18:05] ozexpert commented on #19
im new to nativescript, i'm willing to do some code changes if i can understand the structures. any guides on which code to look at? or if you can make the code changes, please do attach to this ticket, later i'll try to improve the plugin.

[2017-05-15 11:02] TheOriginalJosh commented on #20
I never implemented an orientation change event  since I handn't personally had a need yet however to do it it's pretty easy. I believe in the `ngOnInit` we will want to add a line of code similar to the non angular version of the slides  such as https://github.com/TheOriginalJosh/nativescript-slides/blob/master/nativescript-slides.ts#L210

[2017-05-15 11:03] TheOriginalJosh commented on #19
Thanks man! I would appreciate any PR's, current there are no guides but feel free to hit me up here or on the NativeScript Community Slack not sure if I'll get around to this anytime soon.

[2017-05-17 13:55] cmeijerink commented on #13
In case this is still open..

`@ViewChild('slider') slideContainer: ElementRef;`

and

`next(args: EventData) {
        let nextButton = <any>this.slideContainer;
        nextButton.nextSlide();
  }`

Should do the trick

[2017-05-17 13:57] cmeijerink commented on #5
Same issue here!

[2017-05-18 12:28] TheOriginalJosh commented on #13
Thank you @cmeijerink !

[2017-05-18 12:28] #13 closed

[2017-05-18 12:28] TheOriginalJosh commented on #5
I'll look into this tonight

[2017-05-18 21:55] Jonatthu commented on #15
@sarpt so what is the ideal solution?

[2017-05-24 06:53] Jaishankarb commented on #5
@TheOriginalJosh any update on this issue

[2017-05-24 11:00] TheOriginalJosh commented on #5
@Jaishankarb  not yet, I haven't had much free time to dedicate to it unfortunately.

[2017-05-26 19:51] joey0xx opened #21 "Doesn't slide well in a TabView Item"
Trying to slide to the right takes some effort because the TabView swipe is also being activated. Also, after sliding once to the right, when trying to slide back to the first slide, it stops at like 1/10 of the image width and goes back to the second slide no matter how much I try to slide.

[2017-05-29 20:59] heese opened #22 "Default width does not consider padding/margin of parent view"
When computing the width of the slides it does not consider the width of the layout containing the tag `<slides>` , e.g., padding or margin. A workaround is to set the slide width explicitly (thanks for providing this attribute) but it would be more convenient if this could be done automatically.

Unfortunately, I haven't found a way to get the width of the parent layout yet. I hope that you just

[2017-05-30 03:30] heese commented on #3
Works for me now.

[2017-05-30 03:40] heese opened #23 "Slide show containing only one element result in empty slide"
I am loading the data dynamically and it can happen that there is only one element in the list which I use to create the slides. In this situation the first slide is an empty one and only after calling `nextSlide()` the actual slide is shown.

[2017-05-30 20:03] heese opened #24 "Unexpected CFBundleExecutable Key: Processing in itunesconnect failed"
After uploading the app using the plugin I got the following message:

After changing the plugin as suggested in the message my app ran through. Would these changes do any harm if persisted in the repository?

[2017-05-31 00:05] TheOriginalJosh commented on #24
I'm not sure, but I think i can fix this easily publishing an update to remove the offending files. I shouldn't be publishing anything in the app_resources file to npm

[2017-05-31 00:08] TheOriginalJosh commented on #24
published 1.2.3 which doesn't include this folder

[2017-05-31 00:08] #24 closed

[2017-06-12 19:00] dobjek commented on #5
any update on this issue?

[2017-06-12 19:47] ivanwitzke commented on #5
same problem here...

[2017-06-20 23:49] TheOriginalJosh commented on #5
these should be working now for android and ios version 1.4.

[2017-06-20 23:54] TheOriginalJosh commented on #21
I've never found a good way for them to place nice together, they have behaviors that conflict with eachother.

[2017-06-20 23:54] #21 closed

[2017-06-21 00:23] dobjek commented on #20
the same issue for me

[2017-06-21 15:42] carlosanjos commented on #5
Sorry @TheOriginalJosh I've just updated to 0.1.4 and the indicators are still now showing, for both iOS and Android.

[2017-06-21 15:44] TheOriginalJosh commented on #5
@carlosanjos   you need to make  to set the property pageIndicators to true like this:

[code]

and then add styling for them in your app.css or componet css.

[code]

[2017-06-21 15:56] carlosanjos commented on #5
@TheOriginalJosh I'm using the following code and it doesn't work.
Thanks for the fast reply.
[code]

[code]
![screen shot 2017-06-21 at 16 53 38](https://user-images.githubusercontent.com/3537552/27393844-42512e66-56a2-11e7-8f3a-ba5d1cc8bd57.png)

[2017-06-21 16:33] TheOriginalJosh commented on #5
@carlosanjos  I just tested your code on an android emulator and I'm seeing the background color and the slide indicators.  I'm not on a mac at the moment so I can't test on an ios emulator. but it seems that the background colors are not showing up correctly for you.  maybe try changing them to a hexadecimal color like #000?

![image](https://user-images.githubusercontent.com/1486275/27395447-d86

[2017-06-21 21:19] dobjek commented on #20
i was able to fix this issue by placing:

//handles application orientation change
		app.on(app.orientationChangedEvent, (args: app.OrientationChangedEventData) => {
			// event and page orientation didn't seem to alwasy be on the same page so
			// setting it in the time out addresses this.
			setTimeout(() => {

				console.log('orientationChangedEvent');
				this.pageWidth = platform.screen.mai

[2017-06-21 21:27] TheOriginalJosh commented on #20
@dobjek Awesome! thank you, I really appreciate it. if you could please make PR for the repo and make sure you include yourself on the contributor's list.

[2017-06-22 05:06] #8 closed

[2017-06-22 15:09] TheOriginalJosh commented on #4
This shouldn't be an issue anymore with the latest versions. please re-open if anyone encounters it again.

[2017-06-22 15:09] #4 closed

[2017-06-23 00:13] #20 closed

[2017-06-23 00:56] TheOriginalJosh commented on #20
I just published this in version 0.2.0

[2017-06-23 02:17] dobjek commented on #5
doesn't show for me either

[2017-06-23 11:28] TheOriginalJosh commented on #5
@dobjek it very well could be the image. that is something I haven't really thought of . if you put the default code in from the README do the indicators show up?

[2017-06-23 12:29] sittingbool commented on #5
I just started the demo project, added the styles to the app.css but no indicators showing up

[2017-06-23 12:35] TheOriginalJosh commented on #5
@sittingbool make sure you set the pageIndicators property to true in the slides component
`<slides [pageIndicators]="true" class="slide-bg">`

[2017-06-23 12:54] TheOriginalJosh commented on #5
@sittingbool alternatively it could be an issue with the slides being generated in a ngFor loop in the demo project. you may want to try have the slides statically defined and see if that works.

[2017-06-23 15:20] #1 closed

[2017-06-26 07:39] sittingbool commented on #5
I had this property on true, I also had a colored background. But still not showing. Also I tried doing the slides manually, because that would be my use case. Didn't work. If I find the time I will work on this and give you a pull request. Tell me if you find the time to have a look.

[2017-06-26 11:25] TheOriginalJosh commented on #5
@sittingbool What version of NativeScript and Angular are you running?

[2017-06-26 11:31] sittingbool commented on #5
The latest NativeScript (3.0.3) and Angular like in the package.json of the demo App. I used the demo App provided by this repository. I downloaded as a zip, changed the absolute path to the slides-project into a relative path, added [pageIndicators]="true", the css like in the readme and ran it with tns run ios. No indicators visible. Then I added background-color but still: no indicators visible

[2017-06-28 00:40] TheOriginalJosh commented on #5
@sittingbool one thing you may want to try doing is setting the margin-top property to a lower or negative number. the positioning top seems to be inconsistent and I'm going to need to work on it.

[2017-06-28 03:03] dobjek commented on #5
i believe this is why we are not seeing those pageIndicators:
https://github.com/NativeScript/nativescript-angular/issues/769

[2017-06-28 03:17] dobjek commented on #5
so, temp workaround is to put .slide-indicator-inactive and .slide-indicator-active to your app.css

[2017-07-01 12:45] TheOriginalJosh commented on #11
this has been fixed and is working in the latest version

[2017-07-01 12:45] #11 closed

[2017-07-07 20:49] ivanwitzke commented on #5
For me it 'kinda' works with the code like this (and css as the doc examples on my app.css):

    <GridLayout rows="10, auto" columns="50, auto">
        <Label text="Photos" row="0" col="0"></Label>
        <StackLayout row="1" colSpan="2">
            <slides [pageIndicators]="true">
                <slide *ngFor="let photo of product.photos" class="slide-bg">
                    <FrescoDrawee [

[2017-07-09 13:51] TheOriginalJosh commented on #23
this shouldn't be an issue anymore. I tested it with a single slide in a project i'm working on and it wasn't recreated, version 0.2.5. If it's still an issue for you please re-open this.

[2017-07-09 13:51] #23 closed

[2017-07-09 13:54] TheOriginalJosh commented on #5
@ivanwitzke Thank you for the info. this makes sense since i'm calculating the position of the indicators based on the view height not the height of the slides themselves. going to have to go back to the drawing board on this I think.

[2017-07-09 22:11] ivanwitzke commented on #5
Also, if it's inside a ScrollView the bullets appear too, but need to
scroll a little bit...

Em dom, 9 de jul de 2017 10:54, Josh Sommer <notifications@github.com>
escreveu:

[2017-07-14 17:20] URvesh109 commented on #11
Hello TheOriginalJosh,

I need to slides 70% on my screen to change the image. Is there is any way to achieve  same thing on 30%
slide on screen. And if loop is true, then sliding is not working as expected.

[2017-07-20 16:11] KBorecki commented on #5
Hey @TheOriginalJosh is there any update of this issue?

[2017-07-20 16:37] TheOriginalJosh commented on #5
@KBorecki , @dobjek  made a PR (https://github.com/TheOriginalJosh/nativescript-ngx-slides/pull/28)  to fix this a while ago and I've currently published it under a beta tag.  You can install it with  `npm install somepkg@beta`. any feed back would be helpful.

[2017-07-20 17:24] ivanwitzke commented on #5
Unfortunatelly for me nothing has changed... If the device is on vertical, the indicators won't show, but if I rotate to horizontal, then they appear.
The basic structure of the view is:

StackLayout -> ScrollView -> CardView -> GridLayout -> StackLayout ->

    <slides [pageIndicators]="true">
        <slide *ngFor="let photo of product.photos" class="slide-bg">
            <FrescoDrawee [imageUr

[2017-07-20 17:45] TheOriginalJosh commented on #5
@ivanwitzke this is installed from the beta tag? npm install nativescript-ngx-slides@beta?

[2017-07-20 18:28] ivanwitzke commented on #5
@TheOriginalJosh yes... but I just noticed that after installing from the beta tag, the console shows

    /the/path/to/my/project
    └── nativescript-ngx-slides@0.3.1

is this correct?

[2017-07-20 18:33] TheOriginalJosh commented on #5
@ivanwitzke yep that is correct. Thanks for the info.

[2017-07-21 19:24] ivanwitzke commented on #5
After setting the `pageHeigth` property in the `<slides>` the indicators show now, but if I rotate the device, then rotate it back, they won't show until I navigate away and come back to the page...

    <slides [pageIndicators]="true" pageHeight="350">
        [more code here...]
    </slides>

[2017-07-22 08:40] sittingbool commented on #5
Now setting a negative top margin for the slide-indicator-inactive and slide-indicator-active classes shows the indicators on ios, while a zero top margin shows it on android. i suggest to use an absolute positioning to make sure its on top of the slides as well.

[2017-07-26 12:00] #3 closed

[2017-07-26 19:39] #10 closed

[2017-08-31 14:39] c13andka opened #31 "Android - slides"
Hello, i am following your instructions for implementing this plugin. But i cant se any slides

What am i doing wrong ?

[2017-08-31 14:49] TheOriginalJosh commented on #31
Could you provide an example of what you are seeing?

[2017-08-31 14:51] TheOriginalJosh commented on #31
referencing https://github.com/TheOriginalJosh/nativescript-slides/issues/110

[2017-08-31 14:54] c13andka commented on #31
i am seeing nothing, the slides will not show up att all

[2017-08-31 15:06] TheOriginalJosh commented on #31
I'm currently using it on a project I'm working on in my free time.  If I were you I would try and tear it down to its simplest implementation.  It's really impossible for me to tell  whats wrong without more info.

[2017-08-31 15:19] c13andka commented on #31
i have implemented the simplest implementation, i only use the same code that you give in the introduction.

I got the slides to show now, but they overlap each other

[2017-08-31 15:25] TheOriginalJosh commented on #31
@c13andka  could you post a screen shot or gif?  also what version of NativeScript you're running?  not sure if it could be a compatibility issue, Also what device/emulator are you using?  Thanks for the info 👍

[2017-08-31 15:40] c13andka commented on #31
![20157749_10156045839883274_7623481407055808449_o](https://user-images.githubusercontent.com/11715977/29932053-78068e12-8e73-11e7-9386-ea21ac9f8d83.jpg)

"nativescript": {
    "id": "com.firstvet.firstvet",
    "tns-ios": {
      "version": "3.1.0"
    },
    "tns-android": {
      "version": "3.1.1"
    }
  },
  "dependencies": {
    "@angular/common": "~4.1.0",
    "@angular/compiler": "~4.1.0"

[2017-08-31 16:25] TheOriginalJosh commented on #31
Ahh, you will want to set a background color for the slides. I've never left them transparent so its not necessarily something i've thought about. is that a used case you need?  I believe if you set a background color or image for the main slide container it should fix it as well.

[2017-08-31 16:43] c13andka commented on #31
I have the same implementation as you do in the readme file, so i also have css. As you can se on the picture the background is grey and not white. Because i never got this to work, i implemented the other packade.

I can still not slide the slides also. what nativescript angular version are you using ?

[2017-08-31 17:48] ChAraya commented on #15
i have the same problem, i get some info with a service from a DB to create dynamic slides but this happend. all the slides are on top of another.
![captura de pantalla 2017-08-31 a la s 14 45 38](https://user-images.githubusercontent.com/19436477/29937218-38369a88-8e5b-11e7-9676-c69ee85e2cb9.png)

this is part of my code

<slides id="slides" (changed)="slideChanged()" #slides >

                <

[2017-08-31 17:54] TheOriginalJosh commented on #15
@ChAraya  I think the code called in the ngAfterViewInit (https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/slides/app/slides/slides.component.ts#L96) needs to be abstracted out into a public function you can then call after your dynamic data has loaded

[2017-08-31 18:50] ChAraya commented on #15
yea, a saw you solution to make a manualInit and i called but nothing happend

i need do something else ?

![captura de pantalla 2017-08-31 a la s 15 48 30](https://user-images.githubusercontent.com/19436477/29939901-e646b060-8e63-11e7-8769-2bae94a39a33.png)

[2017-08-31 19:29] TheOriginalJosh commented on #15
Hmm, I'm not sure really. could you open a Pull Request with your ManualInit in it? it would probably be a nice addition once the kinks are worked out.

[2017-08-31 19:45] ChAraya commented on #15
ok, i will do it later, a question.

its there a way that i can know when the slides gonna be slide to other page ? before the change event occured?

'cause with that i can implement a parcial solution to my problem and make the slides "dynamic" but really not dynamic just know when no to slide to the next slide

[2017-09-01 00:32] TheOriginalJosh commented on #15
I'm not sure I follow.

There are changed and finished events you can watch for
https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/slides/app/slides/slides.component.ts#L62

[2017-09-01 00:34] TheOriginalJosh commented on #31
currently, it's using tns 3.0.0 and angular 4.1.0. you can see that in the package dependencies. another thing you might want to try is setting the width 100%

[2017-09-01 08:44] c13andka commented on #31
Got it to work :) but so you know, it will break with a tap gesture on a gridlayout inside the slides :) or for me it did, stacklayout goes fine.

[2017-09-01 09:29] angelscat commented on #31
@c13andka
I have the same problem, how did you fix it?

[2017-09-01 11:58] TheOriginalJosh commented on #31
@c13andka  Awesome! I'm glad that works for you . do you happen to know if the tap gesture on the grid layout works in iOS?

[2017-09-05 14:38] c13andka commented on #31
it does, it is in android that it don't work

[2017-09-11 13:39] EduhCosta opened #32 "How add plugin in my project?"
You talk about how to clone the project and use it, but how to add the plugin to my current project?

[2017-09-11 13:40] #32 closed

[2017-09-13 19:46] sfaessler commented on #15
+1 - is there a solution available in the meanwhile? I'm having the same problem. I have a first slide which comes from the view directly and further slides which comes dynamically from a json file which is loaded in the .ts

See code here: https://pastebin.com/G9EQXKMP

![simulator screen shot 13 09 2017 21 34 56](https://user-images.githubusercontent.com/13064849/30396970-a2b565fe-98cb-11e7-86aa

[2017-09-14 11:58] miniskulljob opened #33 "Slide events"
Hi!

Does it have events implemented? I mean events like _SlideTransitionStartEvent_ and such. I want to add some animations to elements inside the slides and I want them to trigger when an slide starts and ends its transition.

[2017-09-14 12:04] TheOriginalJosh commented on #33
Hi @miniskulljob there currently two events exposed by the main slides component. I my seff haven't used them but the are Changed and Finished. you can see them here in the soruce. https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/slides/app/slides/slides.component.ts#L62

cheers.

[2017-09-14 12:16] miniskulljob commented on #33
@TheOriginalJosh wops! I should have checked the source first. Thanks!

[2017-09-14 12:16] #33 closed

[2017-09-14 12:19] TheOriginalJosh commented on #33
Np, the documentation really needs an update. I've  just been working on other projects and haven't had a chance to give the Slides plugins some updates etc.

[2017-09-16 15:23] moda20 opened #34 "Problem with building the App with nativescript-ng2-slides"
Hey! I tried to build my app after installing the plugin from npm and had a merging problem.
The problem was missing semicolons ";" and some uncommented code and i had to fix those myself in the slides.component.ts
i had to comment these lines :
`		if (app.ios) {
/*<<<<<<< HEAD*/
			footerSection.clipToBounds = false;
/*=======*/
		    footerSection.clipToBounds = false;
		} else if (app.android)

[2017-09-16 15:55] TheOriginalJosh commented on #34
Hey sorry you're having issues, I just published a new version try installing with `npm i -S nativescript-ngx-slides@latest` don't install nativescript-ng2-slides those have been deprecated and replaced by nxg-slides. let me know if that works.

[2017-09-17 02:29] #34 closed

[2017-09-24 14:30] sittingbool commented on #15
I fixed this by placing a ngIf into the slides tag that is checking weather the array is empty and only shows after data is laded into the array. Obviousely there is ap problem with changing the content of the array that is used in the ngfor. If there are changes maybe it also would help to make the array empty first and then set the refreshed data. then angular would rereder the slides-element (h

[2017-09-29 21:28] mrcaste opened #36 "TypeError: Cannot read property 'nativeElement' of undefined"
Hi, I tried to build on Android over NS@3.1.3 and nativescript-ngx-slides@0.4.3 but I got this error:

[code]
The log is [here](https://gist.github.com/mrcaste/31522ca58ee94136535f688486d3dc31).

[2017-10-01 00:16] TheOriginalJosh commented on #36
Hi @mrcaste Did you get this figured out? I looked at the log and it didn't look like something related to the slides but I very well could be wrong. let me know.

[2017-10-12 21:26] heese commented on #15
I have forked the project and changed the file `slides.component.ts` to init the slides only when there some (using `ngAfterViewChecked`). This way I can load the data asynchronously and use `*ngFor` to create the slide elements.

It is more a hack than a solution (and I don't have time to test it properly) but it works in my situation quite well -- maybe, you have a similar one. Here is the git r

[2017-10-12 21:50] TheOriginalJosh commented on #15
@heese that sounds great! good work man, thank you!

[2017-10-12 22:26] heese commented on #15
I like your plugin and I am happy to contribute.

Since I needed it I have also introduced a new attribute `autoInit` in my code (by default `true`) which allows me -- if set to `false` -- to manually trigger the initialisation.

[2017-10-12 22:51] TheOriginalJosh commented on #15
That sounds perfect. Thank you @heese

[2017-10-13 04:35] anaszgh opened #38 "How to use nextSlide() and previousSlide() from Typescript?"

[2017-10-13 05:59] heese commented on #15
Turned my hack into a solution (still no time to test it properly). You can subscribe to changes of `QueryList` and, thus, re-init the slides whenever they change. It is as simple as

[code]

[2017-10-13 11:11] TheOriginalJosh commented on #38
Hi @anaszgh, you will need to used angular's `ViewChild` decorator to get the element. you can then access all the public functions on it.

Here is a stack overflow post I commented on that uses a StackLayout. It' the same idea. https://stackoverflow.com/questions/37884142/in-nativescript-with-angular2-how-can-i-get-an-interface-element-the-id/37884606#37884606

[2017-10-13 11:11] #38 closed

[2017-10-13 12:19] anaszgh commented on #38
It returns undefined!

this it my markup

`<StackLayout class="page">
    <slides [pageIndicators]="true" (changed)="onChanged($event)" (finished)="onFinished()">
        <slide class="slide-1">
            <image src="~/images/intro_img_1.png"></image>
            <Label text="Title"></Label>
            <TextView text="this is a short paragraph this is a short paragraph this is a short paragraph

[2017-10-13 12:48] TheOriginalJosh commented on #38
@anaszgh  you nedd to add a querySelector to the slides component .

[code]

[2017-10-14 00:05] gabitoesmiapodo commented on #15
@heese Sorry to bother you, could you explain shortly how to subscribe to the slide QueryList?

I mostly understand what you did, but I just need a short example to get me going.

[2017-10-14 00:40] gabitoesmiapodo commented on #15
@heese Sorry to bother you, but could you provide an example of how are you using your fork?

I just need something to get me going, I could use your version, but the slides got badly initialized (not the right size).

[2017-10-15 20:27] heese commented on #15
Hi @gabitoesmiapodo

please find below an example which is derived from the code I am working on at the moment. I have removed all unimportant bits and pieces and hope I haven't deleted anything essential -- meaning I have not tested the code below. Let me know if you need also the import statements.

Furthermore, I copied the slides module into my project because Josh will hopefully update his co

[2017-10-17 12:18] gabitoesmiapodo commented on #15
Thank you!

[2017-10-18 01:05] TheOriginalJosh commented on #15
@heese please open a PR and I will merge it in. Thank you.

[2017-10-30 07:44] ullalaaron opened #39 "Page indicators not showing up"
I'm using the plugin on android and the page indicators are not showing up.
Here is my markup
[code]

The related css is the following

[code]
What am I missing?

[2017-11-16 11:28] nikksan opened #42 "Slider Autostart"
Hello, great plugin first!
Is there any way the slider can start automatically?

[2017-11-16 13:00] TheOriginalJosh commented on #42
Thanks, @nikksan!

You could use a `setInterval` got to slide to automatically change slides.  Is that what your looking to do. got a slide after a few seconds or so?

[2017-11-16 15:49] nikksan commented on #42
Yeah, that will do it. How do I programmatically change the slides?

[2017-11-16 15:51] TheOriginalJosh commented on #42
The Slides Component has a public function on it to to go to `GoToSlide`( goes to slide with index param) and next and previouse slides. https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/slides/app/slides/slides.component.ts#L541

[2017-11-17 09:12] nikksan commented on #42
Works like charm.I actually ended up using the method - nextSlide, as it didnt require me to keep the index of the current slide.
` //Automatcally start the slide
    autostartSlider(interval: number = 10000) {
        setInterval(() => {
            this.slides.nextSlide()
        }, interval)
    }`

[2017-11-17 09:19] nikksan commented on #42
Is there any event triggered when the user swipes the slider?
My approach is to postpone the the interval, once the user has interacted with the slider.
Any help on that?

[2017-11-17 13:10] TheOriginalJosh commented on #42
Yep there is a change event https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/slides/app/slides/slides.component.ts#L63 that sounds like what you need

[2017-11-21 07:59] nikksan commented on #42
However this change event is fired, when I call nextSlide method, is there any way I can detect when user swipes the slide, and not when I programmatically change it?

[2017-11-21 12:20] TheOriginalJosh commented on #42
Hi @nikksan, no there is currently no way to differentiate between those. If you want you could change the code so it returns an object that has the index and the referring action. If you do please make a PR.

[2017-11-24 15:12] nikunjgajera commented on #15
I have same issues, please see below code

slides.html
[code]

slides.component.ts
[code]
when i execute `tns run android` i got below response(overlap all player name)
![selection_003](https://user-images.githubusercontent.com/12508078/33215868-65f5bbfe-d157-11e7-97ee-b901b0f62fcb.png)

[2017-11-24 19:53] heese commented on #15
At a quick glance you are setting `this.players` too early. Try setting it in `ngAfterViewInit`.

[2017-11-24 21:51] heese commented on #15
It might be that you need to use the code of the fork I created. (Haven't managed to create the PR yet.)

[2017-11-25 03:41] TheOriginalJosh commented on #15
@nikunjgajera I just published @heese PR in version 0.4.5 https://github.com/TheOriginalJosh/nativescript-ngx-slides/pull/43

[2017-11-25 07:21] nikunjgajera commented on #5
I have same issues, I cant get page indicator

slides.html
[code]

slides.component.ts
[code]

slides.common.css
[code]
how can i get page indicator?

[2017-11-25 11:43] nikunjgajera opened #44 "Dynamic Create slides issues"
I am creating dynamic slides using nativescript-ngx-slides plugin.
Example i have 3 person details(From Database) and i am showing only name in slides. and each slides have a person name(Label) and  Add Person(Button). When add person click, i add person details in persons scope.

slides.html
[code]

slides.component.html
[code]

When i added Person by Popup, after slider not working and got below

[2017-11-29 15:05] RoyiNamir opened #45 "Angular 4 support ?"
![image](https://user-images.githubusercontent.com/2842123/33381725-7180c7e2-d527-11e7-9d49-d54300ae74be.png)

[2017-11-29 15:17] TheOriginalJosh commented on #45
Angular 4 is supported. from your screenshot, it appears the dependencies are not installed correctly.

[2017-11-29 15:18] RoyiNamir commented on #45
@TheOriginalJosh  I did` npm install`

[2017-11-29 15:20] TheOriginalJosh commented on #45
You should run the setup script. that should install the dependencies necessary to develop the plugin.

[2017-11-29 15:24] RoyiNamir commented on #45
@TheOriginalJosh  This is the command I've run in the image.  :

![image](https://user-images.githubusercontent.com/2842123/33382703-1af87282-d52a-11e7-9516-6c22798a88c5.png)

[2017-11-29 15:38] TheOriginalJosh commented on #45
That appears to have failed then, you can always go into the projects directories an manually install as well

[2017-11-29 15:44] RoyiNamir commented on #45
@TheOriginalJosh  I did it  , but guess what is found under the dempo package.json :

https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/demo/package.json#L25

Still not working and I don't think that this path should be there.  too bad that's how it is.

In short . can you please fix this plugin  so it will work for me and for others ? - Thanks in advance ! :-)

[2017-11-29 16:04] RoyiNamir commented on #45
Im trying to see it in my android app. In mobile.
Im not new to ns
It's just doesnt work

[2017-11-29 17:10] TheOriginalJosh commented on #45
You can try going into the slides directory, running npm install in there and then run `tns run android`  that should work fine for you to see the development environment. Alternatively, you could try creating a new project doing and adding it from npm, then in there.

I'm closing this issues for now. But in the future please include a more descriptive issue of what you've done and your developmen

[2017-11-29 17:10] #45 closed

[2017-11-29 17:11] TheOriginalJosh commented on #44
@nikunjgajera where you able to get this working with the most recent published verions? closing this in favor of the existing open issue.

[2017-11-29 17:11] #44 closed

[2017-11-30 17:19] ivanwitzke commented on #39
there's already a issue open for this, but no solution yet -> #5

[2017-11-30 17:26] TheOriginalJosh commented on #39
@ullalaaron @ivanwitzke they should show up if you put the styling in your app.css file. adding it directly to the component doesn't work.

[2017-12-01 14:20] nikunjgajera commented on #44
@TheOriginalJosh i am using 2.2.12 version, my issues and that issues are quite different

[2017-12-05 05:42] narayansikarwar opened #46 "Not working in iOS"
Hi,
I have try to make a sample component using your sample code, this is working fine on android but not working on iOS.

[2017-12-27 10:02] FranciZ commented on #45
@TheOriginalJosh It did compile and install going to `slides` and running `npm i && tns run android` but there's an issue I guess with the new version of tns or something. What I get is the below screenshot. I've tried implementing the thing into my project but it's doing the same thing. Just overlaying slides one over the other with no sliding working and no error to debug.

Any suggestions? Than

[2017-12-27 10:36] FranciZ opened #47 "Can't get this to work on either iOS or Android"
I get the same result on both platforms. Overlapping slides that don't respond to sliding. See attached screenshot which is from the demo in `/slides`.

I'm guessing one of the core dependencies is an issue I just can't narrow it down. Tried all sorts of different tns-android versions, Angular versions, nativescript-angular versions etc. with no results. Using the setup in `/slides` doesn't work e

[2017-12-27 10:45] FranciZ commented on #47
I reverted to a previous commit 89553f616c031428e10ac402650060513a0fe776 and that seems to work... You might want to look into this.

[2017-12-27 13:07] TheOriginalJosh commented on #47
@FranciZ thank you for the heads up. I think i'm going to revert that commit, adding pinch to zoom doesn't really feel like something that should be in the scope of this project.

[2017-12-27 15:03] FranciZ commented on #47
@TheOriginalJosh sure, no problem. One other thing. On iOS I see this error if I don't have the data ready at compile time.

`ERROR [native code]: ERROR TypeError: undefined is not an object (evaluating '_co.listing.labels')`

It works on Android but it fails on iOS. Does this library allow for a dynamic data model/array? If I want to rerender the component after adding or removing slides should t

[2017-12-27 17:59] FranciZ commented on #47
I managed to work around this by using `*ngIf` on `<slides>` and removing the component while updating the array and radding it later. Can use a simple `setTimeout` with 0 just to let it remove and add after. It's hacky I guess but it works on both Android and iOS. Is there a better (correct) way of doing this?

[2018-01-19 13:54] atchakraborty opened #49 "Slides are not working in {N} version:3.4.1 in both android & iOS"
I started implementing this slider in {N} 3.3.0 and it was working fine. But when I am implementing this plugin in 3.4.1 its not working at all. Can you(@TheOriginalJosh ) please have a look on this?

![screenshot_1516369973](https://user-images.githubusercontent.com/35601982/35153914-4f94d32c-fd4e-11e7-9458-c6ad21bc745f.png)

[2018-01-21 11:39] frozenmaiden commented on #49
I also got same issue on 3.4.1

[2018-01-21 22:03] idoadse commented on #49
+1

[2018-01-26 21:02] mikelinden1 commented on #49
+1

[2018-01-31 20:33] TheOriginalJosh commented on #49
Hey everyone, sorry for the delay. are these fresh installs, recently updated apps or both?

[2018-01-31 20:43] idoadse commented on #49
For me it's a first time usage that doesn't seems to work as expected

[2018-01-31 20:44] TheOriginalJosh commented on #49
@idoadse, when you run it, are you getting what's  in the screen shot above?

[2018-01-31 20:49] idoadse commented on #49
I will be near computer soon and will be able to share the output. If I recall correctly there was no swipe, and the different slides where stacked one uppon another.
I will attach screen shot

[2018-02-01 18:57] TheOriginalJosh commented on #49
This should be fixed with the 1.0.0 release, I'm closing this issue. but if anyone continues to have any problem with this please re-open.

[2018-02-01 18:57] #49 closed

[2018-02-01 18:58] TheOriginalJosh commented on #47
This should be working again with the latest release, I'm sorry for the long delay.

[2018-02-01 18:58] #47 closed

[2018-02-02 12:19] #46 closed

[2018-02-02 12:20] #42 closed

[2018-02-02 12:20] #36 closed

[2018-02-09 00:53] HTrustProject commented on #5
I had also problems with the page indicators. They are perfectly fine when starting the app. However, they disappeared when resuming my app from the background.

I had to change the code of the plugin to make it work. I found that setting the top margin does funny stuff when resuming from background. I did not investigate why. I changed the following line in `buildFooter()` from
 ```footerSection.

[2018-02-09 00:54] heese commented on #5
I had also problems with the page indicators. They are perfectly fine when starting the app. However, they disappeared when resuming my app from the background.

I had to change the code of the plugin to make it work. I found that setting the top margin does funny stuff when resuming from background. I did not investigate why. I changed the following line in `buildFooter()` from
 ```footerSection.

[2018-02-10 07:17] RoyiNamir opened #51 "How can I disable swipe ?"
Is there any option to disable swipe ? ( and move,next only via buttons)

[2018-02-10 07:38] #51 closed

[2018-02-10 19:11] RoyiNamir opened #52 "pageheight is incorrect"
Looking at this simple example :

[code]

we can see that at the second slide we define 3 equal heights  , differnt colors.
Notice the temporary `pageHeight="500"` :

REsult :

![image](https://user-images.githubusercontent.com/2842123/36065670-952c1314-0ea6-11e8-913f-2d2e76d489de.png)

But now let's remove  `pageHeight="500"`:

Now we see that result is - non symmetric heights :

![image](https:/

[2018-02-10 19:15] RoyiNamir commented on #52
Update : fix is that :
[code]

rather than `mainscreen.heightDip` :

![image](https://user-images.githubusercontent.com/2842123/36065731-8783c800-0ea7-11e8-952b-0255d2272cdf.png)

[2018-02-13 17:26] labidiaymen opened #53 "Webpack error"
I got this error While using --bundle
` tns build ios --bundle`
![capture d ecran 2018-02-13 a 18 22 40](https://user-images.githubusercontent.com/3775924/36163899-0dfea19e-10eb-11e8-8c20-5d806067b9d7.png)
`tns info`
![capture d ecran 2018-02-13 a 18 24 44](https://user-images.githubusercontent.com/3775924/36163992-49312822-10eb-11e8-942e-6e02cd5e95da.png)

[2018-02-24 15:30] labidiaymen commented on #53
up

[2018-02-26 18:29] TheOriginalJosh commented on #53
I'm sorry this took so long to get back to you but, I just tested out the bundling with the latest release of NativeScript (3.4.2) and the slides plugin (1.0.0) and I'm not getting any issues.  Going to close this for now.

[2018-02-26 18:29] #53 closed

[2018-02-27 16:04] labidiaymen commented on #53
Thanks for your time.
The issue was with nativescript-ngx-slides@**0.4.3** and calling SlidesComponent explicitly
`import { SlidesComponent } from "nativescript-ngx-slides/slides/app/slides/slides.component";
`

[2018-02-27 17:23] TheOriginalJosh commented on #53
Oh, ok I could see that being a problem. I really suggest updating to 1.0.0 since it now uses the ngc compiler.

[2018-03-02 19:26] otnielgomez commented on #14
I firuged out that you can add footerMarginTop attibute to your <slides> tag.
By setting to 0 it should work.
Example:
<slides height="100%" loop="true" class="sliderContainer" [pageIndicators]="true" pageHeight="240" footerMarginTop="220">

[2018-03-07 16:59] mrioso opened #54 "Failed to find module"
_An uncaught exception occurred on "main" thread. java,lang.RunTimeException: Unable to create application com.tns.NativeScriptApplication: com.tns.NativeScriptException:

Error calling module function

Error calling module function

Error calling module function

Error: com.tns.NativeScriptException: Failed to find module: "./slides/app/slides.module", relative to : app/tns_modules/nativescript-n

[2018-03-07 17:01] TheOriginalJosh commented on #54
in your package.json I see you have "nativescript-ng2-slides": "0.0.11". you will want to delete that module completely and use the latest version of "nativescript-ngx-slides"

[2018-03-07 17:01] #54 closed

[2018-03-07 17:41] mrioso commented on #54
**i get this error**

![screenshot_2018-03-07-12-35-25](https://user-images.githubusercontent.com/11713550/37108140-3f63c6cc-2204-11e8-938a-cdd131624772.png)

[2018-03-08 23:13] sfaessler opened #55 "Unexpected values "SlidesModule""
ERROR Error: Unexpected value 'SlidesModule' imported by the module 'AppModule'. Please add a @NgModule annotation.

After updating an old project I removed the plugin using tns plugin remove ngx-slides and re-added it. Version changed from 0.4.1 to 1.0.0 which is generally fine.

After trying to start the app the the app crashes and showns the error message above.

In app.module.ts I have this:
i

[2018-03-08 23:22] sfaessler commented on #55
This is my app.module.ts - from my point of view everything is correct?

https://pastebin.com/rG3LLDmB

[2018-03-09 00:04] sfaessler commented on #22
Any news here? Seems like I'm having the same problem.

[2018-03-09 13:47] TheOriginalJosh commented on #55
Nothing to worry about. is nativescript-ngx-slides in your package.json listed twice? if so make sure to delete one of them and completley remove your `node_modules` and `platforms` folders, then do a new insstall . and only have the latest version installed ("^1.0.0"), I believe this error is because it's looking at an older verisoin of the package.

[2018-03-09 15:03] sfaessler commented on #55
Thanks for your fast reply.

I've done:

1. deleted hooks, node_modules aund platforms completely and removed "nativescript-ngx-slides": {
      "version": "0.4.3",
      "resolved": "https://registry.npmjs.org/nativescript-ngx-slides/-/nativescript-ngx-slides-0.4.3.tgz",
      "integrity": "sha1-O8wZdSAVphjll9uqFU5FQ9szZrI="
    }, from the package-lock.json file
2. tns plugin remove nativescript

[2018-03-10 23:53] sfaessler opened #56 "Docklayout in slide element is not using the correct height"
<slides #slides [loop]="false" [pageIndicators]="false" *ngIf="data.length > 0" (changed)="slideChanged($event)">

        <slide height="100%">
            <DockLayout stretchLastChild="true">
                <Button dock="top" text="top" style="background-color: lightblue; margin: 5;"></Button>
                <Button dock="bottom" text="bottom" style="background-color: lightpink; margin: 5;"></

[2018-03-11 00:25] sfaessler commented on #55
Unfortunatelly, yes.

[2018-03-11 00:26] sfaessler commented on #55
I'm trying to update all dependencies and isolate this into a new simple project.

[2018-03-11 00:28] sfaessler commented on #56
Maybe, yes. We have that headline on top of the app. I'll try to remove that and check it the way you described. Thanks for the hint.

[2018-03-12 21:02] sfaessler commented on #55
Now, error message is gone. Don't ask my why. Thx for your help! Let's see which bug drives me crazy after this works now :)

[2018-03-12 21:04] sfaessler commented on #55
Grrrrr, message is back! :(

[2018-03-13 16:31] mikelinden1 commented on #55
I had the same problem. The solution for me was to upgrade from Angular 4.2.0 to 5.2.0 (I believe that error is thrown when there is a mismatch). @sfaessler

[2018-03-13 16:39] mikelinden1 opened #57 "Uncaught (in promise): Error: StaticInjectorError(AppModule)[SlidesComponent -> ChangeDetectorRef]:"
I get the following error after updating to `nativescript-ngx-slides 1.0.0`:

`CONSOLE ERROR file:///app/tns_modules/@angular/core/bundles/core.umd.js:1486:24: ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[SlidesComponent -> ChangeDetectorRef]:`

I'm using `Angular 5.2.0` and everything seems to be up to date.

[2018-03-13 16:43] TheOriginalJosh commented on #55
@mikelinden1 thank you. tonight if I have a chance I'll try that out. I haven't had a success duplicating this. however, this would make sense the angular compiler that I published it with was 5.2.0+.

[2018-03-13 17:39] sfaessler commented on #55
Did that too, yesterday and solved my problem. Thanks for your help!

[2018-03-13 17:39] #55 closed

[2018-04-04 14:28] mikelinden1 commented on #57
Any ideas here?

[2018-04-12 23:36] otnielgomez opened #58 "3 step form inside slides"
Hi guys, I think this plugin is awesome but I´m having some troubles placing a form inside slides.

I want to make a 3 step form but the keyboard keeps overlapping on the fields.

Is there any workarroud or suggestions for this not to happen?

Here is the code.

`<slides #formSlider pageHeight="500" [pageIndicators]="false">
                <slide slideHeight="80%">
                    <GridLayout

[2018-04-14 14:16] darxmac opened #59 "Nativescript 4 compatibility"
Looks like the package.json in dist includes     "tns-core-modules": "~3.4.0" and that gives the following error after upgrading the project to 4.0.0:

[code]

Removing the dependencies makes the project build and run again

[2018-04-16 12:33] TheOriginalJosh commented on #58
This just an idea but maybe try putting a scrollview inside of the `<slide>`  that wraps the grid layout?. I believe that should resolve your issue.

[2018-05-18 11:19] anuragd7 opened #60 "IOS- RadlistView ItemSelect event does not work inside <slide>"
Hi
I am trying to embed a radlistview in one of the slides. I find that the itemSelected() event does not work on the radlistview inside of the slide. My code is as follows:

[code]

 I am using tns version 3.4.2.
Any suggestions.

[2018-05-21 08:35] trunkovich commented on #59
@TheOriginalJosh we need your help here.

[2018-05-21 09:36] trunkovich commented on #59
@darxmac did you find a workaround to run it with tns-core-modules v4?

[2018-05-28 20:33] otnielgomez commented on #59
+1

[2018-06-01 06:07] Ross-Jo commented on #59
+1

[2018-06-14 06:06] bachras commented on #57
@mikelinden1 have you solved this issue? I am having the same problem as well.

[2018-06-17 02:09] TheOriginalJosh commented on #59
First off I'm really sorry for the long delay. but I've published a new version of slides (1.0.6+) that is built with ng-packagr that should fix this problem.  If you could take a moment to let me know if it works for you or not I would appreciate it.

[2018-06-17 02:10] TheOriginalJosh commented on #57
I believe this may be fixed in the latest update 1.0.6 let me know if it continues.

[2018-06-17 02:10] #57 closed

[2018-06-17 02:15] #59 closed

[2018-06-17 13:42] anuragd7 opened #64 "Nativescript 4 - Not a valid plugin"
When I try to install the latest version I get the following error message:

`nativescript-ngx-slides is not a valid NativeScript plugin. Verify that the plugin package.json file contains a nativescript key and try again.`

Please advise

[2018-06-17 14:05] TheOriginalJosh commented on #64
Thanks for the heads up on this, it's fixed in version 1.0.8. you may want to install it with the command `tns plugin add nativescript-ngx-slides@1.0.8`

[2018-06-17 14:05] #64 closed

[2018-06-24 11:36] #56 closed

[2018-06-24 12:07] #2 closed

[2018-06-24 12:07] #12 closed

[2018-07-04 12:22] #52 closed

[2018-07-08 14:55] wanpeng2008 opened #65 "Error: moduleId should be a string in "SlidesComponent""
I install this plugin and build my app with --bundle option.
A build error is thrown out:
[code]

[2018-07-09 05:50] matoxxx opened #66 "Resize images based on parents width"
How can I make sure that slider uses 100% of parents width? I want to make sure that image fits 100% on every mobile device.

Thank you

[2018-07-11 08:17] wanpeng2008 commented on #65
I replaced all "moduleId:module.id" with "moduleId:module.id.toString()" in the folder "./node_modules/nativescript-ngx-slides". But the error is still there. Any Suggestions?

[2018-07-11 11:55] TheOriginalJosh commented on #65
@wanpeng2008 Awesome! I'm going to close this issue, but if you have any more problems let me know.

[2018-07-11 11:55] #65 closed

[2018-07-13 12:28] LSmint opened #67 "Can this support auto slide?"
Can this support auto slide with paging interval feature?

[2018-07-13 13:43] #67 closed

[2018-07-26 11:10] wanpeng2008 opened #68 "Error: Animation cancelled after host component destroy"
I implement an auto running slider using setInterval()
[code]
When i route to other pages,  "Animation cancelled" errors are thrown again and again.

[code]
What shall i do to  this error?

[2018-07-27 14:04] cesarodriguez4 opened #69 "(swipe) event not working"
Seems that swipe event is not working property in a XML like this:
[code]

I've seen that we can't use callbacks when moving around the slides in this library.

`tns version 4.1.0`

[2018-07-27 16:53] TheOriginalJosh commented on #69
This is a custom component and it doesn't expose a swipe event. there is a change and and finished event that are emitted.

[2018-07-27 16:53] #69 closed

[2018-07-27 16:57] TheOriginalJosh commented on #68
I think this can be fixed by going through and updating all the animation promises to have a catch event.
[code]
I'll try to get to it here soon, but if you want to open a PR please feel free. Thanks

[2018-08-03 10:32] vahidvdn commented on #5
I just added theses css codes in my app.android.css:
[code]

This must be mentioned in the docs.

[2018-08-27 12:15] vahidvdn commented on #5
Also you must set `footerMarginTop` property to something less than 100%. For example:
[code]

[2018-09-12 19:15] codersree opened #73 "Is there an option for autoplay?"
Hi, I'm using this plugin in one of the projects. Is there an option for autoplay of slides, so that each slide automatically change after x seconds?

[2018-09-13 00:46] JoshDSommer commented on #73
I Currently is no plan to implement such functionality since you can accomplish this with a RxJS interval/timer or a `setTimeout()` and then calling the`nextSlide` or `previousSlide` functions exposed on the main component. hope that helps

[2018-09-13 00:46] #73 closed, assigned to nobody

[2018-09-28 21:00] yoat opened #74 "'Changed' event not fired on swipe."
Cross filed on the base slides repo:
https://github.com/TheOriginalJosh/nativescript-slides/issues/121

[code]
This event fires when I manually call
this.slideContainer.nextSlide(250);
or previousSlide(), but not when swiping.

I don't know if this is an issue with this plugin wrapper, or the underlying slides plugin, but I'm using the Angular version so I'm posting here.

Tested on Android.

[2018-09-28 21:51] Arham-Aalam commented on #15
link is not valid now. can you share again

[2018-09-28 23:23] heese commented on #15
This was probably pointing to here:
https://github.com/TheOriginalJosh/nativescript-ngx-slides/blob/master/lib/src/slides/slides.component.ts#L62

[2018-09-30 13:09] yoat commented on #74
The event is firing, confirmed.

[2018-09-30 13:09] #74 closed, assigned to nobody

[2018-10-01 07:06] LSmint opened #75 "Can expose onSwipe function?"
Can expose onSwipe function? I would like to control the parent ScrollView during scrolling the slides

[2018-10-17 15:19] iMarwan-k opened #76 "Stop working after turn off the screen"
Hi there,

so I just noticed an issue that, if I run the app, then I just turn off the screen and turn it back on and unlock the phone, all the slide lose the container style but still let you slide left and right.

Also I noticed the indicator disappeared if I use the slide show insides tabview

Same thing also when you exit the app the go back to it

example

[code]

Thanks

[2018-10-21 01:39] alqabali commented on #68
any fix for that issue? @TheOriginalJosh

[2019-02-09 22:49] tskweres commented on #22
same

[2019-03-20 11:53] michaelfidelis commented on #22
Any solution/workaround?

[2019-05-22 10:00] ArsalanSavand commented on #51
How to disable swipe?

[2019-08-08 06:39] Amaryadav7 opened #77 "loop not work on android"

[2019-09-12 01:11] ezequielzacca commented on #65
I got this error too. I think it needs to be fixed on the source code

[2019-10-18 03:24] BearOutThere commented on #5
Setting .slide-indicator-inactive and .slide-indicator-active margin-top: -1;  and <slides ... pageHeight="100%"> worked for me.  The indicators showed up but at the top of the page above the slides.  Better than nothing i suppose.

[2019-10-18 03:57] BearOutThere opened #78 "Feature request: please add auto-play"
The ability to auto play the slides is sorely missing. Please consider adding it soonest.

[2020-01-07 14:14] vikasacharya16 opened #79 "page indicator will not changing when made it to auto play"
When i tried to auto play the images by below code
[code]

only the images will auto play. but not indicators at the bottom.

but when i scroll it, the indicators will change and no problem.

this is my xml
[code]

[2020-01-07 14:18] #79 closed, assigned to nobody

[2020-01-07 14:18] vikasacharya16 commented on #79
wrong plugin

[2020-07-30 17:21] gagandeep-s opened #80 "Urgent Feature: Enable swipe UP and swipe DOWN feature"
Enable videos scroll on vertical swipe UP & DOWN.